{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="loanForm">
                <h1>Interest Calculation</h1>
                {% if error is defined %}
                    {{ error }}
                {% endif %}
                <ul>
                {% for result in results %}
                   <li> {{ result }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
